*{
    margin-bottom: 10px;
}

body{
    background-color: rgb(83, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
   
}

.calculadorita{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 0px;
    font-weight: bold;
    box-shadow:0px 1px 5px 1px rgb(0, 0, 0);
    font-size: 15px;
    grid-area: si;
    margin-top: 10px;
    
}

.header{
    width: 100%;
    background-color:#f7df1e;
    height: 40px;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px black;
    margin-bottom: 50px;
}

.container{
   background-color: #ffffff46;
    height: auto;
    width: 200px;
    border-radius: 5px;
    margin: 10px;
    
}





